@using WebUI.ServicesModel.PerformedWork

<RadzenTemplateForm TItem="PerformedWorkDatailsModel" Data=@PerformedWork Submit=@OnSubmit>
    <RadzenFieldset>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Дата" />
            </div>
            <div class="col-md-6">
                <RadzenDatePicker DateFormat="d" style="display: block" Name="Date" @bind-Value=@PerformedWork.Date Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Гориво" />
            </div>
            <div class="col-md-6">
                <RadzenNumeric style="display: block" Name="AmountOfFuel" @bind-Value=@PerformedWork.AmountOfFuel Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Цена" />
            </div>
            <div class="col-md-6">
                <RadzenNumeric style="display: block" Name="FuelPrice" @bind-Value=@PerformedWork.FuelPrice Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Тип" />
            </div>
            <div class="col-md-6">
                <RadzenDropDown AllowClear="true"
                                AllowFiltering="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data=@WorkTypes
                                @bind-Value=@PerformedWork.WorkType
                                ValueProperty="Value"
                                TextProperty="Name"
                                Change=@(args => OnDropDownChange(args)) Class="w-100" />
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-2">
                @if (IsModal)
                {
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Добави"></RadzenButton>
                }
                else
                {
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Редактирай"></RadzenButton>
                }
            </div>
        </div>
    </RadzenFieldset>
</RadzenTemplateForm>
