@using WebUI.ServicesModel.Тreatment


<RadzenTemplateForm TItem="ТreatmentDetailsModel" Data=@Treatment Submit=@OnSubmit>
    <RadzenFieldset>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Дата" />
            </div>
            <div class="col-md-6">
               <RadzenDatePicker DateFormat="d" style="display: block" Name="Date" @bind-Value=@Treatment.Date Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Тип" />
            </div>
            <div class="col-md-6">
                <RadzenDropDown AllowClear="true"
                                AllowFiltering="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data=@TreatmentTypes
                                @bind-Value=@Treatment.TreatmentType
                                ValueProperty="Value"
                                TextProperty="Name"
                                Change=@(args => OnDropDownChangeTreatmentType(args)) Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Препарат" />
            </div>
            <div class="col-md-6">
                <RadzenDropDown Data=@TreatmentArticleType
                                @bind-Value=@Treatment.ArticleId
                                ValueProperty="Value"
                                TextProperty="Name"
                                Change=@(args => OnDropDownChangeTreatmentArticleType(args)) Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Препарат на декар" />
            </div>
            <div class="col-md-6">
                <RadzenNumeric style="display: block" Name="ArticleQuantity" @bind-Value=@Treatment.ArticleQuantity Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Гориво" />
            </div>
            <div class="col-md-6">
                <RadzenNumeric style="display: block" Name="AmountOfFuel" @bind-Value=@Treatment.AmountOfFuel Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Цена на гориво" />
            </div>
            <div class="col-md-6">
                <RadzenNumeric style="display: block" Name="FuelPrice" @bind-Value=@Treatment.FuelPrice Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Цена на препарат" />
            </div>
            <div class="col-md-6">
                <RadzenNumeric style="display: block" Name="ArticlePrice" @bind-Value=@Treatment.ArticlePrice Class="w-100" />
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-2">
                @if (IsModal)
                {
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Добави"></RadzenButton>
                }
                else
                {
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Редактирай"></RadzenButton>
                }
            </div>
        </div>
    </RadzenFieldset>
</RadzenTemplateForm>