@using WebUI.ServicesModel.Seeding
@attribute [Authorize]
<RadzenFieldset>
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="Земя" />
        </div>
        <div class="col-md-6">
            <RadzenDropDown Data=@ArableLands
                            @bind-Value=@SelectedArableLandId
                            ValueProperty="Value"
                            TextProperty="Name"
                            Class="w-100" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <RadzenButton Icon="add_circle_outline"  Text="Добави" Click="@(() => OnSubmit())" />
            <RadzenButton Text="Назад" Click=@OnClose ButtonStyle="ButtonStyle.Secondary" />
        </div>
    </div>
</RadzenFieldset>

