@using WebUI.Components.DataGrid
@using WebUI.ServicesModel.Subsidies


@if (DataGrid is null)
{
    <div class="loader"></div>
}
else
{
    <h2 class="text-center"> Субсидии </h2>

    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добави" Click="@(() => AddSubsidy())" />

    <DynamicDataGrid TData="SubsidiesModel" Data="@DataGrid"></DynamicDataGrid>
}
