@using Fluxor.Blazor.Web.Components
@using WebUI.Components.DataGrid
@using WebUI.ServicesModel.Тreatment
@attribute [Authorize]

@inherits FluxorComponent


@if (DataGrid is null)
{
    <div class="loader"></div>
}
else
{
    <DynamicDataGrid TData="GetTreatmentModel" Data="@DataGrid"></DynamicDataGrid>
}