@using Fluxor.Blazor.Web.Components
@using WebUI.ServicesModel.PerformedWork
@using WebUI.Components.DataGrid
@attribute [Authorize]
@inherits FluxorComponent

@if (DataGrid is null)
{
    <div class="loader"></div>
}
else
{
    <h2 class="text-center"> Обработки </h2>

    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добави" Click="@(() => AddPerformedWork())" />

    <DynamicDataGrid TData="ListPerformedWorkModel" Data="@DataGrid"></DynamicDataGrid>
}