@using WebUI.Components.DataGrid
@using WebUI.ServicesModel.Subsidies


@if (DataGrid is null)
{
    <div class="loader"></div>
}
else
{
    <DynamicDataGrid TData="SubsidiesModel" Data="@DataGrid"></DynamicDataGrid>
}
