@page "/createUserPassword"
@using Microsoft.AspNetCore.WebUtilities
@using WebUI.Services.Identity
@using WebUI.ServicesModel.Identity
@inject NavigationManager NavManager
@layout EmptyLayout

<div class="col-lg-6 offset-lg-3 d-flex p-3">
    <RadzenCard class="d-flex m-5 p-0 rz-border-radius-4 rz-shadow-10" Style="width: 100%; flex-direction: column; overflow: hidden; align-items: stretch;">
        <RadzenCard Class="rz-shadow-0 rz-border-radius-0 rz-background-color-info p-5" style="text-align: center;">
            <RadzenText TextStyle="TextStyle.DisplayH3" TagName="TagName.H2" Class="rz-color-white mb-0">Създаване на парола</RadzenText>
        </RadzenCard>
        <RadzenCard Class="rz-shadow-0 p-5">
            <RadzenTemplateForm TItem="CreateUserPasswordModel" Data=@CreateUserPasswordModel Submit=@OnSubmit>
                <RadzenFieldset>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <RadzenLabel Text="Парола" />
                        </div>
                        <div class="col-md-6">
                            <RadzenPassword style="display: block" Name="Password" @bind-Value=@CreateUserPasswordModel.Password Class="w-100" />
                            <RadzenRequiredValidator Component="Password" Text="Въведете паролата" Popup=true Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <RadzenLabel Text="Повтори паролата" />
                        </div>
                        <div class="col-md-6">
                            <RadzenPassword style="display: block" Name="RepeatPassword" @bind-Value=@CreateUserPasswordModel.RepeatPassword Class="w-100" />
                            <RadzenRequiredValidator Component="RepeatPassword" Text="Повторете паролата си" Popup=true Style="position: absolute" />
                            <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(CreateUserPasswordModel.RepeatPassword))
                                                    Value=@CreateUserPasswordModel.Password
                                                    Component="RepeatPassword"
                                                    Text="Паролите трябва да са еднакви"
                                                    Popup=true Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-2">
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Изпрати"></RadzenButton>
                        </div>
                    </div>
                </RadzenFieldset>
            </RadzenTemplateForm>
        </RadzenCard>
    </RadzenCard>
</div>
