@model AddSeedingViewModel



<div class="row">
   <div class="col-md-12">
      <div class="card card-default">
         <div class="card-header">
             <h2 class="text-center"> Добавяне на сеитба </h2>
            <div class="card-tools">
               <button type="button" class="btn btn-tool" data-card-widget="collapse">
               <i class="fas fa-minus"></i>
               </button>
            </div>
         </div>
         <form method = "post">
            <div class="card-body">
               <div class="form-group">
                  <label asp-for="ArableLandId"></label>
                  <select asp-for="ArableLandId" class="form-control">
                     @foreach (var arableLand in Model!.ArableLands)
                     {
                        <option value="@arableLand.Value">@arableLand.Name</option>
                     }
                  </select>
                  <span asp-validation-for="ArableLandId" class="small text-danger"></span>
                  <label asp-for="ArticleId"></label>
                  <select asp-for="ArticleId" class="form-control">
                     @foreach (var article in Model.Articles)
                     {
                        <option value="@article.Value">@article.Name</option>
                     }
                  </select>
                  <span asp-validation-for="ArticleId" class="small text-danger"></span>
                  <input asp-for="WorkingSeasonId" hidden="hidden"/>
               </div>
            </div>
            <div class="card-footer">
               <button type="submit" class="btn btn-primary">Запис</button>
               <a class="btn btn-primary" onclick="history.go(-1);">Назад</a><br />
            </div>
         </form>
      </div>
   </div>
</div>
