@using WebUI.Components.Validators
@using WebUI.ServicesModel.Тreatment
@attribute [Authorize]


@if (@Treatment is not null)
{
    <RadzenTemplateForm TItem="ТreatmentDetailsModel" Data=@Treatment Submit=@OnSubmit>
        <RadzenFieldset>
            <div class="row mb-3">
                <div class="col-md-6">
                    <RadzenLabel Text="Дата" />
                </div>
                <div class="col-md-6">
                    <RadzenDatePicker DateFormat="dd/MM/yy" style="display: block" Name="Date" @bind-Value=@Treatment.Date Class="w-100" />
                    <RadzenRequiredValidator Component="Date" Text="Датата е задължителна" Style="position: absolute" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <RadzenLabel Text="Тип третиране" />
                </div>
                <div class="col-md-6">
                    <RadzenDropDown FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data=@TreatmentTypes
                                @bind-Value=@Treatment.TreatmentType
                                ValueProperty="Value"
                                TextProperty="Name"
                                Name="TreatmentType"
                                Change=@(args => OnDropDownChangeTreatmentType(args)) Class="w-100" />
                    ​<div>
                        <RadzenRequiredValidator Component="TreatmentType" Text="Тип третиране е задължителен" DefaultValue="0"/>
                    </div>
                </div>
            </div>
            @if (Treatment.TreatmentType != 0)
            {
                <div class="row mb-3">
                    <div class="col-md-6">
                        <RadzenLabel Text="@treatmentTypePlaceholder" />
                    </div>
                    <div class="col-md-6">
                        <RadzenDropDown Data=@Articles
                                @bind-Value=@Treatment.ArticleId
                                ValueProperty="Value"
                                TextProperty="Name"
                                Name="Article"
                                Change=@(args => OnDropDownChangeTreatmentArticleType(args)) Class="w-100" />
                        ​<div>
                            <RadzenRequiredValidator Component="Article" Text=@($"Тип {treatmentTypePlaceholder} е задължителен") DefaultValue="0"/>
                        </div>
                    </div>
                </div>
            }
            <div class="row mb-3">
                <div class="col-md-6">
                    <RadzenLabel Text="@($"Количество {treatmentTypePlaceholder} на декар (кг/л)")" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="display: block" Name="ArticleQuantity" @bind-Value=@Treatment.ArticleQuantity Class="w-100" />
                    <NumericRangeValidator Component="ArticleQuantity" Text=@($"Количество {treatmentTypePlaceholder} е трябва да е положително число") Min="0" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <RadzenLabel Text="@($"Цена на {treatmentTypePlaceholder} за (кг/л)")" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric  style="display: block"  Name="ArticlePrice" @bind-Value=@Treatment.ArticlePrice Class="w-100" />
                    <NumericRangeValidator Component="ArticlePrice" Text=@($"Цената на {treatmentTypePlaceholder} е трябва да е положително число") Min="0" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <RadzenLabel Text="Количество гориво общо(литра)" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="display: block" Name="AmountOfFuel" @bind-Value=@Treatment.AmountOfFuel Class="w-100" />
                    <NumericRangeValidator Component="AmountOfFuel" Text="Количество гориво трябва да е положително число" Min="0" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <RadzenLabel Text="Цена на гориво на литър(лв)" />
                </div>
                <div class="col-md-6">
                    <RadzenNumeric style="display: block" Name="FuelPrice" Step="any" @bind-Value=@Treatment.FuelPrice Class="w-100" />
                    <NumericRangeValidator Component="FuelPrice" Text="Цената трябва да е положително число" Min="0" />
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-5">
                    @if (TreatmentId == 0)
                    {
                        <RadzenButton ButtonType="ButtonType.Submit" Text="Добави"></RadzenButton>
                    }
                    else
                    {
                        <RadzenButton ButtonType="ButtonType.Submit" Text="Редактирай"></RadzenButton>
                    }
                    <RadzenButton Text="Назад" Click=@OnClose ButtonStyle="ButtonStyle.Secondary" />
                </div>
            </div>
        </RadzenFieldset>
    </RadzenTemplateForm>
}