@using WebUI.ServicesModel.Seeding
@attribute [Authorize]

<RadzenTemplateForm TItem="AddSeedingModel" Data=@AddSeeding Submit=@OnSubmit>
<RadzenFieldset>
    <div class="row">
        <div class="col-md-6">
            <RadzenLabel Text="Земя" />
        </div>
        <div class="col-md-6">
            <RadzenDropDown Data=@ArableLands
                            @bind-Value=@AddSeeding.ArableLandId
                            ValueProperty="Value"
                            TextProperty="Name"
                            Name="ArableLand"
                            Class="w-100" />
            <div>
                <RadzenRequiredValidator Component="ArableLand" Text="Земята е задължителна" DefaultValue="0"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Добави"></RadzenButton>
            <RadzenButton Text="Назад" Click=@OnClose ButtonStyle="ButtonStyle.Secondary" />
        </div>
    </div>
</RadzenFieldset>
</RadzenTemplateForm>
