@model EditWorkingSeasonModel

@{
    ViewData["Title"] = "Редактиране на сезон";
}

<h2 class="text-center">Редактиране на сезон</h2>
<div class="row">
    <div class="offset-md-2 col-md-8 col-sm-12">
        <form method = "post">
            <div class="form-group">
              <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" >
            </div>
            <div class="form-group">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control">
            </div>
            <div>
                <input class="btn btn-primary"  type="submit" value="Промени" />
            </div>
        </form>
    </div>
</div>