@using WebUI.ServicesModel.ArableLand

<div class="col-lg-6 offset-lg-3">
    <RadzenTemplateForm TItem="ArableLandModel" Data=@ArableLands Submit=@OnSubmit>
        <RadzenFieldset Text="Земя">
            <div class="row mb-5">
                <div class="col-md-4">
                    <RadzenLabel Text="Име" />
                </div>
                <div class="col">
                    <RadzenTextBox style="display: block" Name="Name" @bind-Value=@ArableLands.Name Class="w-100" />
                    <RadzenLengthValidator Component="Name" Min="3" Text="First name should be at least 3 characters" Popup=@popup Style="position: absolute" />
                    <RadzenLengthValidator Component="Name" Max="50" Text="First name should be at most 10 characters" Popup=@popup Style="position: absolute" />
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-4">
                    <RadzenLabel Text="Декари" />
                </div>
                <div class="col">
                    <RadzenNumeric style="display: block" Name="SizeInDecar" @bind-Value=@ArableLands.SizeInDecar Class="w-100" />
                </div>
            </div>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Добави"></RadzenButton>
        </RadzenFieldset>
    </RadzenTemplateForm>
</div>