@page "/arableLand/list"
@using WebUI.Components.DataGrid
@using WebUI.ServicesModel.ArableLand

<h2 class="text-center"> Земи </h2>

<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добави" Click="@(() => AddArableLand())"/>

<DynamicDataGrid TData="ArableLandModel" Data="@DataGrid"></DynamicDataGrid>
