@page "/arableLand/list"
@using WebUI.Components.DataGrid
@using WebUI.ServicesModel.ArableLand
@attribute [Authorize]

@if (DataGrid is null)
{
    <div class="loader"></div>
}
else
{
    <DynamicDataGrid TData="ArableLandModel" Data="@DataGrid"></DynamicDataGrid>
}

