@using WebUI.ServicesModel.WorkingSeason

<RadzenTemplateForm TItem="WorkingSeasonModel" Data=@WorkingSeason Submit=@OnSubmit>
    <RadzenFieldset>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Име" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox style="display: block" Name="Name" Disabled @bind-Value=@WorkingSeason.Name Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Начало" />
            </div>
            <div class="col-md-6">
                <RadzenDatePicker DateFormat="d" style="display: block"
                                  Name="StartDate" @bind-Value=@WorkingSeason.StartDate Class="w-100"
                                  Change=@(args => OnDateFromChange(args)) />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Край" />
            </div>
            <div class="col-md-6">
                <RadzenDatePicker DateFormat="d" style="display: block"
                                  Name="EndDate" @bind-Value=@WorkingSeason.EndDate Class="w-100"
                                  Change=@(args => OnDateFromChange(args)) />
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-2">
                @if (IsModal)
                {
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Добави"></RadzenButton>
                }
                else
                {
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Редактирай"></RadzenButton>
                }
            </div>
        </div>
    </RadzenFieldset>
</RadzenTemplateForm>
