@using WebUI.Components.Validators
@using WebUI.ServicesModel.WorkingSeason
@attribute [Authorize]

@if (@WorkingSeason is not null)
{
    <RadzenTemplateForm TItem="WorkingSeasonModel" Data=@WorkingSeason Submit=@OnSubmit>
        <RadzenFieldset>
            <div class="row mb-3">
                <div class="col-md-6">
                    <RadzenLabel Text="Име" />
                </div>
                <div class="col-md-6">
                    <RadzenTextBox style="display: block" Name="Name" Disabled @bind-Value=@WorkingSeason.Name Class="w-100" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <RadzenLabel Text="Начало" />
                </div>
                <div class="col-md-6">
                    <RadzenDatePicker DateFormat="dd/MM/yy" style="display: block"
                                  Name="StartDate" @bind-Value=@WorkingSeason.StartDate Class="w-100"
                                  Change=@(args => OnStartDateChange(args)) />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <RadzenLabel Text="Край" />
                </div>
                <div class="col-md-6">
                    <RadzenDatePicker DateFormat="dd/MM/yy" style="display: block"
                                  Name="EndDate" @bind-Value=@WorkingSeason.EndDate Class="w-100"
                                  Change=@(args => OnEndDateChange(args)) />
                    <CompareDateTimeByYearValidator Component="EndDate"
                                                Text="Края трябва да е с 1 година повече от началото"
                                                FromYear="@WorkingSeason.StartDate"
                                                MustBeBiggerWithNumberOfYears="1"/>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-5">
                    @if (IsModal)
                    {
                        <RadzenButton ButtonType="ButtonType.Submit" Text="Добави"></RadzenButton>
                    }
                    else
                    {
                        <RadzenButton ButtonType="ButtonType.Submit" Text="Редактирай"></RadzenButton>
                    }
                    <RadzenButton Text="Назад" Click=@OnClose ButtonStyle="ButtonStyle.Secondary" />
                </div>
            </div>
        </RadzenFieldset>
    </RadzenTemplateForm>
}

