@page "/workingSeason/details/{WorkingSeasonId:int}"
@page "/workingSeason/details"
@using WebUI.ServicesModel.WorkingSeason

<div class="col-lg-10 offset-lg-1 col-md-8 offset-md-2">
    <RadzenTemplateForm TItem="GetWorkingSeasonApiModel" Data=@WorkingSeason Submit=@OnSubmit>
        <RadzenFieldset Text="Земя">
            <div class="row mb-5">
                <div class="col-md-4">
                    <RadzenLabel Text="Ид" />
                </div>
                <div class="col">
                    <RadzenNumeric  style="display: block" Name="Id" Disabled @bind-Value=@WorkingSeason.Id Class="w-100" />
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-4">
                    <RadzenLabel Text="Име" />
                </div>
                <div class="col">
                    <RadzenTextBox style="display: block" Name="Name" Disabled  @bind-Value=@WorkingSeason.Name Class="w-100" />
                </div>
            </div>
             <div class="row mb-5">
                <div class="col-md-4">
                    <RadzenLabel Text="Начало" />
                </div>
                <div class="col">
                    <RadzenDatePicker DateFormat="d" style="display: block" 
                    Name="StartDate" @bind-Value=@WorkingSeason.StartDate Class="w-100"
                    Change=@(args => OnDateFromChange(args))/>
                </div>
            </div>
              <div class="row mb-5">
                <div class="col-md-4">
                    <RadzenLabel Text="Край" />
                </div>
                <div class="col">
                    <RadzenDatePicker DateFormat="d"  style="display: block" 
                    Name="EndDate" @bind-Value=@WorkingSeason.EndDate Class="w-100"
                    Change=@(args => OnDateToChange(args))/>
                </div>
            </div>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
        </RadzenFieldset>
    </RadzenTemplateForm>
</div>