@page "/changePassword"
@using WebUI.ServicesModel.Identity
@layout EmptyLayout

<div class="col-lg-6 offset-lg-3 d-flex p-3">
    <RadzenCard class="d-flex m-5 p-0 rz-border-radius-4 rz-shadow-10" Style="width: 100%; flex-direction: column; overflow: hidden; align-items: stretch;">
        <RadzenCard Class="rz-shadow-0 rz-border-radius-0 rz-background-color-info p-5" style="text-align: center;">
            <RadzenText TextStyle="TextStyle.DisplayH3" TagName="TagName.H2" Class="rz-color-white mb-0">Смяна на парола</RadzenText>
        </RadzenCard>
        <RadzenCard Class="rz-shadow-0 p-5">
            <RadzenTemplateForm TItem="ChangePasswordModel" Data=@ChangePasswordModel Submit=@OnSubmit>
                <RadzenFieldset>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <RadzenLabel Text="Стара парола" />
                        </div>
                        <div class="col-md-6">
                            <RadzenPassword style="display: block" Name="CurrentPassword" @bind-Value=@ChangePasswordModel.CurrentPassword Class="w-100" />
                            <RadzenRequiredValidator Component="CurrentPassword" Text="Въведете старата парола" Popup=true Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <RadzenLabel Text="Нова парола" />
                        </div>
                        <div class="col-md-6">
                            <RadzenPassword style="display: block" Name="NewPassword" @bind-Value=@ChangePasswordModel.NewPassword Class="w-100" />
                            <RadzenRequiredValidator Component="NewPassword" Text="Въведете нова парола" Popup=true Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <RadzenLabel Text="Повтори новата парола" />
                        </div>
                        <div class="col-md-6">
                            <RadzenPassword style="display: block" Name="RepeatPassword" @bind-Value=@ChangePasswordModel.RepeatPassword Class="w-100" />
                            <RadzenRequiredValidator Component="RepeatPassword" Text="Повторете новата си парола" Popup=true Style="position: absolute" />
                            <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(ChangePasswordModel.RepeatPassword))
                                                    Value=@ChangePasswordModel.NewPassword
                                                    Component="RepeatPassword"
                                                    Text="Паролите трябва да са еднакви"
                                                    Popup=true Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-2">
                            <RadzenButton ButtonType="ButtonType.Submit" Text="Изпрати"></RadzenButton>
                            
                        </div>
                        <div class="col-md-2">
                        <RadzenButton Text="Назад" Click=@OnClose ButtonStyle="ButtonStyle.Secondary" />
                        </div>
                    </div>
                </RadzenFieldset>
            </RadzenTemplateForm>
        </RadzenCard>
    </RadzenCard>
</div>