@page "/forgotPassword"
@using WebUI.ServicesModel.Identity
@layout EmptyLayout

<div class="col-lg-6 offset-lg-3 d-flex p-3">
    <RadzenCard class="d-flex m-5 p-0 rz-border-radius-4 rz-shadow-10" Style="width: 100%; flex-direction: column; overflow: hidden; align-items: stretch;">
        <RadzenCard Class="rz-shadow-0 rz-border-radius-0 rz-background-color-info p-5" style="text-align: center;">
            <RadzenText TextStyle="TextStyle.DisplayH3" TagName="TagName.H2" Class="rz-color-white mb-0">Забравена парола</RadzenText>
        </RadzenCard>
        <RadzenCard Class="rz-shadow-0 p-5">
            <RadzenTemplateForm TItem="ForgotPasswordModel" Data=@ForgotPasswordModel Submit=@OnSubmit>
                @if (!ShowMessage)
                {
                    <RadzenFieldset>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <RadzenLabel Text="Имейл" />
                            </div>
                            <div class="col-md-6">
                                <RadzenTextBox style="display: block" Name="Email" @bind-Value=@ForgotPasswordModel.Email Class="w-100" />
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-2">
                                <RadzenButton ButtonType="ButtonType.Submit" Text="Изпрати"></RadzenButton>
                            </div>
                        </div>
                    </RadzenFieldset>
                }
                else
                {
                    <RadzenText TextStyle="TextStyle.H4">Ако вашият потребител е регистриран ще получите емайл с инструкции как да възстановите паролата си</RadzenText>
                }

                
            </RadzenTemplateForm>
        </RadzenCard>
    </RadzenCard>
</div>