@inherits LayoutComponentBase
@inject NotificationService NotificationService

<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<div class="main">    
    <div class="content px-4">
        @Body
    </div>
</div>
