<div class="content-wrapper">
    <div class="row">
    </div>


    <div class="error-content">

        <h3><i class="fas fa-exclamation-triangle text-warning"></i>Оопс!!! Вашата заявка доведе до грешка.</h3>
    </div>
</div>