<div class="content-wrapper">
    <div class="row">
    </div>


    <div class="error-content">

        <h3><i class="fas fa-exclamation-triangle text-warning">Опс!!! Възникна грешка в сървъра.</i></h3>
    </div>
</div>