@using WebUI.ServicesModel.Identity
@attribute [Authorize]

<RadzenTemplateForm TItem="CreateUserModel" Data=@CreateUserModel Submit=@OnSubmit>
    <RadzenFieldset>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Имейл" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox style="display: block" Name="UserEmail" @bind-Value=@CreateUserModel.UserEmail Class="w-100" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Име" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox style="display: block" Name="FirstName" @bind-Value=@CreateUserModel.FirstName Class="w-100" />
                <RadzenLengthValidator Component="FirstName" Min="2" Text="Името трябва да съдържа поне 2 знака" Style="position: absolute" />
                <RadzenLengthValidator Component="FirstName" Max="50" Text="Името трябва да съдържа най-много 50 знака" Style="position: absolute" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Фамилия" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox style="display: block" Name="LastName" @bind-Value=@CreateUserModel.LastName Class="w-100" />
                <RadzenLengthValidator Component="LastName" Min="2" Text="Фамилията трябва да съдържа поне 2 знака" Style="position: absolute" />
                <RadzenLengthValidator Component="LastName" Max="50" Text="Фамилията трябва да съдържа най-много 50 знака" Style="position: absolute" />
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-5">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Добави"></RadzenButton>
                <RadzenButton Text="Назад" Click=@OnClose ButtonStyle="ButtonStyle.Secondary" />
            </div>
        </div>
    </RadzenFieldset>
</RadzenTemplateForm>