@page "/listUser"
@using WebUI.Components.DataGrid
@using WebUI.ServicesModel.Identity
@attribute [Authorize(Roles = "admin")]

<h2 class="text-center"> Потребители </h2>

<RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добави" Click="@(() => CreateUser())"/>

<DynamicDataGrid TData="ListUserModel" Data="@DataGrid"></DynamicDataGrid>