@model AddArableLandModel

@{
    ViewData["Title"] = "Add Arable Land";
}

 <h2 class="text-center"> Add Arable Land</h2>
<div class="row">
    <div class="offset-md-2 col-md-8 col-sm-12">         
        <form method = "post">
              <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" >
                <span asp-validation-for="Name" class="small text-danger"></span>
              </div>
              <div class="form-group">
                <label asp-for="SizeInDecar"></label>
                <input asp-for="SizeInDecar" class="form-control">
              </div>
            <input class="btn btn-primary"  type="submit" value="Submit" />
        </form>
    </div>
</div>
