@using WebUI.ServicesModel.Tenants
@attribute [Authorize]

<RadzenTemplateForm TItem="AddTenantModel" Data=@TenantModel Submit=@OnSubmit>
    <RadzenFieldset>
        <div class="row mb-3">
            <div class="col-md-6">
                <RadzenLabel Text="Име на организация" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox style="display: block" Name="Name" @bind-Value=@TenantModel.Name Class="w-100" />
                <RadzenLengthValidator Component="Name" Min="2" Text="Името трябва да съдържа поне 2 знака" Style="position: absolute" />
                <RadzenLengthValidator Component="Name" Max="50" Text="Името трябва да съдържа най-много 50 знака" Style="position: absolute" />
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-5">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Добави"></RadzenButton>
                <RadzenButton Text="Назад" Click=@OnClose ButtonStyle="ButtonStyle.Secondary" />
            </div>
        </div>
    </RadzenFieldset>
</RadzenTemplateForm>