@page "/login"
@using Radzen.Blazor
@using WebUI.Services.Identity
@layout EmptyLayout


<div class="col-lg-6 offset-lg-3 d-flex p-3">
    <RadzenCard class="d-flex m-5 p-0 rz-border-radius-4 rz-shadow-10" Style="width: 100%; flex-direction: column; overflow: hidden; align-items: stretch;">
        <RadzenCard Class="rz-shadow-0 rz-border-radius-0 rz-background-color-info p-5" style="text-align: center;">
            <RadzenText TextStyle="TextStyle.DisplayH3" TagName="TagName.H2" Class="rz-color-white mb-0">Login</RadzenText>
        </RadzenCard>
        <RadzenCard Class="rz-shadow-0 p-5">
            <RadzenTemplateForm Data=@LoginInput>
                <RadzenLogin 
                    AllowRegister="false" 
                    AllowResetPassword="true" 
                    ResetPassword="(args => OnResetPassword())" 
                    Login=@(args => OnLogin(args)) />
            </RadzenTemplateForm>
        </RadzenCard>
    </RadzenCard>
</div>