@inject NavigationManager UriHelper
@inject ILocalStorageService LocalStorageService;

<div class="col-7 d-flex align-items-center justify-content-end">
    <div class="d-none d-md-inline-flex align-items-center">
        <a href="@($"{UriHelper.BaseUri}/changePassword")" title="Ако сте забравили паролата си" class="mx-2 mx-lg-3">Смяна на парола</a>
        <button onclick="@(() => Logout())" style="margin: 1rem">
            <RadzenIcon Icon="logout" />
        </button>
    </div>
</div>


@code {
    public async Task Logout()
    {
        await LocalStorageService.RemoveItemAsync("token");

        UriHelper.NavigateTo($"{UriHelper.BaseUri}login");
    }
}