@page "/article/list/{ArticleType:int}"
@using WebUI.Extensions
@using WebUI.ServicesModel.Article
@using WebUI.Components.DataGrid
@attribute [Authorize]

<h2 class="text-center"> @this.ArticleType.GetEnumDisplayName() </h2>

@if (DataGrid is null)
{
    <div class="loader"></div>
}
else
{
    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Добави" Click="@(() => AddArticle(this.ArticleType))"/>
    <DynamicDataGrid TData="ListArticleModel" Data="@DataGrid"></DynamicDataGrid>
}




