@page "/article/list/{ArticleType:int}"
@using WebUI.Extensions
@using WebUI.ServicesModel.Article
@using WebUI.Components.DataGrid
@attribute [Authorize]

<PageTitle>@this.ArticleType.GetEnumDisplayName()</PageTitle>
@if (DataGrid is null)
{
    <div class="loader"></div>
}
else
{
    <DynamicDataGrid TData="ListArticleModel" Data="@DataGrid"></DynamicDataGrid>
}




