

<div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>'Are you sure you want to delete areable land : '</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <a asp-controller="Articles" asp-action="Delete" asp-route-id="@Model" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>