<h3>Сигурен ли сте, че искате да изтриете записа</h3>

<div style="text-align: right">
    <RadzenButton Text="Изтриване" Click="@(async () => await OnDeleteAsync())" ButtonStyle="ButtonStyle.Danger"></RadzenButton>
    <RadzenButton Text="Назад" Click=@OnClose ButtonStyle="ButtonStyle.Secondary" />
</div>

@code {
    [Parameter]
    public DeleteModalModel ModelInput { get; set; } = default!;

    [Inject]
    public DialogService DialogService { get; set; } = default!;

    public async Task OnDeleteAsync()
    {
        var result = await ModelInput.DeleteFuction.Invoke(this.ModelInput.Id);
        DialogService.Close(result);
    }

    public void OnClose()
    {
        DialogService.Close(false);
    }
}
