<div class="loader-wrapper">
    <div class="loader-cube">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="loader-text">Зареждане...</div>
</div>
